/* Images created by: https://unsplash.com/@pawel_czerwinski */
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  background: #e85151;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Raleway, sans-serif;
  font-size: 0.75rem;
}

.player-container {
  height: 500px;
  width: 400px;
  background: #e47a7a;
  border-radius: 1.25rem;
}

.img-container {
  height: 300px;
  width: 300px;
  position: relative;
  top: -3.125rem;
  left: 3.125rem;
}

.img-container img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 1.25rem;
  box-shadow: 0 0.3125rem 1.875rem 0.3125rem rgba(0, 0, 0, 0.3);
}

h2 {
  font-size: 1.5625rem;
  text-align: center;
  margin: 0;
}

h3 {
  font-size: 1.25rem;
  text-align: center;
  font-weight: 400;
  margin: 0.3125rem 0 0;
}

/* Progress */
.progress-container {
  background: #fff;
  border-radius: 0.3125rem;
  cursor: pointer;
  margin: 2.5rem 1.25rem;
  height: 0.25rem;
  width: 90%;
}

.progress {
  background: #242323;
  border-radius: 0.3125rem;
  height: 100%;
  /* change this to show progress */
  width: 0%;
  transition: width 0.1s linear;
}

.duration-wrapper {
  position: relative;
  top: -1.5625rem;
  display: flex;
  justify-content: space-between;
}

/* Controls */
.player-controls {
  position: relative;
  top: -0.9375rem;
  left: 7.5rem;
  width: 12.5rem;
}

.fas {
  font-size: 1.875rem;
  color: rgb(203, 81, 81);
  margin-right: 1.875rem;
  cursor: pointer;
  user-select: none;
  transition: all 0.2s ease;
}

.fas:hover {
  filter: brightness(80%);
}

.main-button {
  font-size: 2.5rem;
  position: relative;
  top: 0.1875rem;
}

/* Media Query: iPhone (Vertical) */
@media screen and (max-width: 23.5rem) {
  .player-container {
    width: 95vw;
  }

  .img-container {
    left: 1.8125rem;
  }

  h2 {
    font-size: 1.25rem;
  }

  h3 {
    font-size: 0.9375rem;
  }

  .player-controls {
    top: -0.625rem;
    left: 6.25rem;
  }
}
